* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}


header {
    background-color: #4caf50;
    color: white;
}





.top-bar {
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #388e3c;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.navbar .nav-links li {
    margin: 0 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.navbar .nav-links a:hover {
    background-color: #2e7d32;
    border-radius: 5px;
}

.features {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.features h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.feature-box {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.feature-box h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.feature-box p {
    font-size: 1.1em;
    color: #666;
}
footer{
    text-align: center;
    color:white;
    background-color: #4caf50;
}